{% extends "index.html" %}

{% load static %}

{% block content %}

  <main id="main">

<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <br><br><div class="about-img">
              <img src="static\img\about.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <br><br><h3>“In a world that is increasingly coming closer we seek to promote the harmony of Indian culture, 
              cuisine and architecture”</h3>
            <p class="fst-italic">
              To create an unmatched experience by maintaining the highest standard of 
              quality, hygiene, service and customer satisfaction
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>To repeatedly offer value addition in all spheres thereby inducing loyalty by patrons.</li>
              <li><i class="bi bi-check-circle"></i>To capture, recreate and replicate the brand experience in as many areas as possible.</li>
            </ul>
            <p>
              It is a highly diversified entity with interests in Hospitality, Packaged Foods, 
              Manufacturing & Distribution, Exports, Hoteliering and Real Estate.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
                <h2>Why Us</h2>
              <p>Why Choose Our Restaurant</p>
            </div>
    
            <div class="row">
    
              <div class="col-lg-4">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                  <span>01</span>
                  <h4>Hygienic & Healthy</h4>
                  <p>We prioritize fresh, healthy food, avoiding unhealthy options and maintaining a healthy lifestyle.</p>
                </div>
              </div>
    
              <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                  <span>02</span>
                  <h4>Money & Time</h4>
                  <p>The service is friendly and fast, ensuring that customers don't have to wait for long periods,reasonable prices and good value</p>
                </div>
              </div>
    
              <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                  <span>03</span>
                  <h4>Atmosphere</h4>
                  <p>Our restaurant's atmosphere significantly influences people's choice, and we celebrate numerous events and parties.</p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Why Us Section -->

  </main><!-- End #main -->

  {% endblock%}
   