{% extends "index.html" %}

{% load static %}

{% block content %}


  <main id="main">

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">
  
          <br><div class="section-title">
            <br><br><h2>Events</h2>
            <p>Organize Your Events in our Restaurant</p>
          </div>
  
          <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="row event-item">
                  <div class="col-lg-6">
                    <img src="static\img\event-bd.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Birthday Parties</h3>
                    <div class="price">
                      <!--<p><span>Rs.6500</span></p> -->
                    </div>
                    <p class="fst-italic">
                      Parks, gardens, and waterfront areas provide refreshing environments for team-building activities, picnics, 
                      and outdoor seminars throughout the year.
                    </p>
                    <ul>
                      <li><i class="bi bi-check-circled"></i>To keep your guests entertained,plan some games or activities that everyone can participate in.</li>
                      <li><i class="bi bi-check-circled"></i>Balloons, streamers, and other decorations can add to the festive atmosphere of the party.</li>
                      <li><i class="bi bi-check-circled"></i>Depending on the time of day,you may want to serve snacks,sandwiches,or a full meal.</li>
                    </ul>
                    <p>
                      As we aim to create a comfortable environment for all our guests, we have limitations on loud music/events.
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="row event-item">
                  <div class="col-lg-6">
                    <img src="static\img\event-privt.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Private Parties</h3>
                    <div class="price">
                      <!--<p><span>Rs.7000</span></p> -->
                    </div>
                    <p class="fst-italic">
                     We offers in-house catering, ensuring guests are treated to delectable dishes crafted with passion and finesse.
                     We do not permit external catering, as we take pride in delivering a seamless dining experience 
                     with our carefully curated menu.
                    </p>
                    <ul>
                      <li><i class="bi bi-check-circled"></i> ensuring all guests can enjoy the joyous celebrations.</li>
                      <li><i class="bi bi-check-circled"></i> Air conditioning to keep you and your guests comfortable throughout the event.</li>
                      <li><i class="bi bi-check-circled"></i> Temporary event notices (TENs) are available upon request for specific events.</li>
                    </ul>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="row event-item">
                  <div class="col-lg-6">
                    <img src="static\img\event-custom.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Custom Parties</h3>
                    <div class="price">
                      <!--<p><span>Rs.5000</span></p> -->
                    </div>
                    <p class="fst-italic">
                      Casual networking evenings to cocktail parties, these venues offer breathtaking views of the city while creating
                       a unique and memorable atmosphere.
                    </p>
                    <ul>
                      <li><i class="bi bi-check-circled"></i>Play pranks on your guests or hold a comedy night or"best joke"competition to celebrate this holiday</li>
                      <li><i class="bi bi-check-circled"></i>age-specific events can be a fun way to attract new guests.</li>
                      <li><i class="bi bi-check-circled"></i>Host a dancing night, with the lights dimmed and a DJ ready to provide the music.</li>
                    </ul>
                    <p>
                      Events like these allow guests to unleash their inner child while enjoying fine wine offerings in a fun 
                      and creative environment. 
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Events Section -->
  
      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>What they're saying about us</p>
          </div>
  
          <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Holiday parties and celebrations bring employees together to enjoy festivities and build team spirit.Annual Dinner & Dances are also a great way to engage employees beyond work
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>kamlesh Patel</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    My friend and I were at the French Gourmet last night for dinner. I want to thank you and the rest of the staff for the excellent food and service provided. It was our first visit and we both agreed that it was a wonderful experience.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Monika Dutt</h3>
                  <h4>Designer</h4>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    It is always a special treat to dine at The French Gourmet. Last night my friend Anna and I had dinner at your wonderful restaurant before going to see a play at the La Jolla Playhouse.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Sanjana Shah</h3>
                  <h4>Store Owner</h4>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    First,I wanted to thank you once again for accommodating the gift certificate on New Year’s Eve. The meal was outstanding, my guests thought they we’re in a fancy restaurant and couldn’t believe how tender the filet was.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>pankaj Tripathi</h3>
                  <h4>Freelancer</h4>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Mike and I loved the Wine Tasting dinner at your place last night. In addition to the fab food and wine, we met the nicest people.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Abhishek Verma</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
      

  </main><!-- End #main -->

  {% endblock %}