{% extends "index.html" %}

{% load static %}

{% block content %}

<main id="main">

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <br><div class="section-title">
        <br><br><h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-starters">Starters</li>
            <li data-filter=".filter-salads">Main Course</li>
            <li data-filter=".filter-specialty">Special</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 menu-item filter-starters">
          <img src="static\img\menu\soup.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Choice Of Soup</a><span>150</span>
          </div>
          <div class="menu-ingredients">
            Broccoli almond soup, Hot N Sour soup, Manchaow soup, Cream of Tomato soup, Cheese Corn Tomato soup
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <img src="static\img\menu\scehzvan.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Schezwan Panner Chilly</a><span>295</span>
          </div>
          <div class="menu-ingredients">
            Finger panner pieces, Capsicum, Tomato, Onion, Schezwan sauce
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <img src="static\img\menu\manchurian.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Manchurian Dry/Gravy</a><span>250</span>
          </div>
          <div class="menu-ingredients">
            All chopped vegetables, Garlic, Ginger with soya sauce
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <img src="static\img\menu\tuscan-grilled.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Methi Masala</a><span>225</span>
          </div>
          <div class="menu-ingredients">
            Chopped Methi, Potatoes, Fry Some Integrades 
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <img src="static\img\menu\lobster-bisque.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Cheese Foundue</a><span>380</span>
          </div>
          <div class="menu-ingredients">
            Bread sticks, Nachos & Garlic bread with Cheese souce
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <img src="static\img\menu\sweet.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Sweets</a><span>190</span>
          </div>
          <div class="menu-ingredients">
            Jalebi, Gulab-jambu, Gajar ka halwa, Mohanthal, Churma
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-salads">
          <img src="static\img\menu\chana.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Chana-Masala</a><span>250</span>
          </div>
          <div class="menu-ingredients">
            Boiled-chana,special masala's and kulcha
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-salads">
          <img src="static\img\menu\mozzarella.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Cheese Butter Masala</a><span>320</span>
          </div>
          <div class="menu-ingredients">
            Cheese, Butter, vegetables, Some Integrades
          </div>
        </div> 

        <div class="col-lg-6 menu-item filter-salads">
          <img src="static\img\menu\kaju.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Khoya Kaju</a><span>370</span>
          </div>
          <div class="menu-ingredients">
            Kaju, Milk, Special Integrades
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-salads">
          <img src="static\img\menu\thepla.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Thepla</a><span>220</span>
          </div>
          <div class="menu-ingredients">
            cucumber,floor,Butter milk with special integrades
          </div>
        </div>
        <div class="col-lg-6 menu-item filter-salads">
          <img src="static\img\menu\spinach-salad.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Tandoori Plate</a><span>150</span>
          </div>
          <div class="menu-ingredients">
            Panner, Phudina, Harabhara kabab, Panir lasaniya, Panir tikka
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <img src="static\img\menu\mocktail.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Mocktail</a><span>125</span>
          </div>
          <div class="menu-ingredients">
           Mango mariden, Orange blossom, Green apple mojito, Fruit punch, Spicy gauva punch, Blue Laggon
          </div>
        </div>


        <div class="col-lg-6 menu-item filter-specialty">
          <img src="static\img\menu\cookies.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Cookies</a><span>125</span>
          </div>
          <div class="menu-ingredients">
           Chocolate cookie, Peanut cookie, Tie dye cookie, French cookie, Jello cookie, Sprinkle Cookie, One bow cookie 
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <img src="static\img\menu\cake.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Desserts</a><span>110</span>
          </div>
          <div class="menu-ingredients">
          Ice-Cream, Vanila/Chocolate/Strawberry, Premium Ice-Cream, Sizzling brownies with ice-cream
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Menu Section -->

 <!-- ======= Chefs Section ======= -->
 <section id="chefs" class="chefs">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Chefs</h2>
      <p>Our Proffesional Chefs</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-4">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
          <img src="static/img/chefs/chef-s.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sanjeev Kapoor</h4>
              <span>Master Chef</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
          <img src="static/img/chefs/chef-q.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Ranveer Brar</h4>
              <span>chef</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
          <img src="static/img/chefs/chef-a.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Anjum Anand</h4>
              <span>Chef</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
          <img src="static/img/chefs/chef-d.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Vikas Khanna</h4>
              <span>Chef</span>
            </div>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Chefs Section -->

  </main><!-- End #main -->

    {% endblock %}